# Database files
*.duckdb
*.duckdb.wal
transformations_dbt/dev.duckdb

# Raw data & Parquet files (Bronze layer)
# Raw data / Parquet files
# Exclude all parquet files
*.parquet
**/*.parquet
Renting_pipeline/Bronze/*.parquet

# Un-ignore gitkeep
!**/ .gitkeep
!.gitkeep

# Environment variables & secrets
scraper/.env

# Logs
*.logs

# Cache & Python files
__pycache__/
*.pyc
.venv/
.dbt/