# Database files
*.duckdb
*.duckdb.wal
transformations_dbt/dev.duckdb

# Raw data & Parquet files (Bronze layer)
# Raw data / Parquet files
*.parquet
Renting_pipeline/Bronze/*
Renting_pipeline/Bronze/*
!Renting_pipeline/Bronze/.gitkeep
!Renting_pipeline/Bronze/.gitkeep

# Environment variables & secrets
scraper/.env

# Logs
*.logs

# Cache & Python files
__pycache__/
*.pyc
.venv/
.dbt/